* {
  /* bien alineado al margen */
  margin: 0%;
  padding: 0%;
}

.image{
    background-color: #ffffff;
}

/* clases comienzan por punto */
.body {
  background-color: #ff0000;
}

.header {
  width: 100%; /*ancho de toda la pantalla*/
  z-index:1;
}

/* .headerStyle {
  color: #020101;
  background-color: #fd0000;
} */

.characters {
  margin-top: 0; /*140px del div que lo contiene o div padre*/
  margin-bottom: 60px; /*60px del div que lo contiene en la parte de abajo*/
}

.font {
  color: #ff0000;
  background-color: #f8f400;
  text-align: center;
}

.card {
background-color: #ffffff;
}
